.awesome {
  color: darkblue;
}
body {
  background-image: url("../images/port-to-water.jpg");
  background-attachment: fixed;
  font-family: fantasy;
}

footer {
  text-align: center;
  font-weight:bold;
}

img.bridge {
  display:grid;
  padding: 2%;
  margin: 3%;
}

span {
  font-size:3rem;
}

.imagesize {
  width: 100%;
}

.headercontent {
  width: 100%;
  height: auto;
  margin: 0;
  background: gray;
}

.class {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.button {
  width:200px;
  background: #e3e3e3;
  line-height: 50px;
  float: right;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
  text-align: center;
}
.clearfix {
    clear: both;
}

.button:hover {
  background: #white;
  color: e3e3e3;
}

.column {
  width: 10em;
  margin: 0 calc((100% - 60em) / 6 );
  padding: 2em 4em;
  float: left;
}
.images{
  float: left;
  text-decoration: none;
  padding: 3em;
  text-align: auto;
  text-decoration: none;
}
.samesize {
  font-size: 2em;
  }
